.mynavbar {
    padding-left: 0;
    .navbar_left {
        display: flex;
        align-items: center;
        .navbar-brand {
            flex-grow: 1;
            text-align: center;
            margin-right: 0;
            img {
                width: 110px;
            }
            .logo_black {
                display: inline-block;
            }
            .logo_white {
                display: none;
            }
        }
        .navbar_categories {
            flex-grow: 1;
            text-align: center;
            @include styleText($color-black-light, $fs-1, $fw-0);
            cursor: pointer;
            i {
                color: $color-gray-3;
            }
        }
        .navbar_form_search {
            flex-grow: 8;
            @include styleForm($color-white-cream,$color-black-light, $color-white-0, $color-gray-4);
        }
    }
    .navbar_right {
        .navbar-nav {
            justify-content: space-between;
            align-items: center;
            .nav-item {
                padding: $pd-2 + 2 $pd-2;
                border-radius: $border-radius + 1;
                position: relative;
                white-space: nowrap;
                .nav-link {
                    @include styleText($color-black-light, $fs-1, $fw-0);
                }
                &:hover {
                    background-color: $color-gray-1;
                    .overlay {
                        display: block;
                    }
                }
                .overlay {
                    display: none;
                    background-color: $color-white-0;
                    border: 1px solid $color-gray-1;
                    box-shadow: 0 4px 16px $color-gray-5;
                    width: 330px;
                    padding: $pd-3;
                    text-align: center;
                    position: absolute;
                    top: 60px;
                    right: 0;
                    z-index: 10;
                    white-space: normal;
                    &::before {
                        content: "";
                        width: 15px;
                        height: 15px;
                        display: block;
                        background-color: $color-white-0;
                        position: absolute;
                        border-top: 1px solid $color-gray-1;
                        border-left: 1px solid $color-gray-1;
                        top: -7%;
                        right: 10%;
                        transform: rotate(45deg);
                    }
                }
            }
            .nav_cart {
                width: 50px;
                height: 50px;
                line-height: 20px;
                border-radius: $border-radius-circle;
                text-align: center;
                .nav-link {
                    font-size: $fs-2 / 2;
                }
            }
            .nav_buttons {
                display: flex;
                &:hover {
                    background-color: transparent;
                }
                button {
                    white-space: nowrap;
                }
                .button-white {
                    margin-right: $mg-0;
                }
            }
        }
    }
    @include breakPoint("medium"){
.navbar_left{
    .navbar_categories,.navbar_form_search{
        display: none;
    }
}
.navbar_right{
    margin-left: auto;
    .navbar-nav{
        .nav_buttons{
            display: none;
        }
    }
}
    }
    @media screen and (min-width: 1200px) and (max-width: 1400px) {
       .mynavbar--set{
           margin-left: 0;
           .navbar_right {
               .navbar-nav {
                   .nav-item {
                       white-space: nowrap;
                       .nav-link {
                           font-size: $fs-1 - 1;
                        }
                    }
                }
            }
        }
    }
    @include breakPoint("extra-large") {
        .bussiness,
        .intruction {
            display: none;
        }
    }
}
